@font-face {
    font-family: 'iconfont';
    /* project id 2028554 */
    src        : url('//at.alicdn.com/t/font_2028554_izfnk16v21h.eot');
    src        : url('//at.alicdn.com/t/font_2028554_izfnk16v21h.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2028554_izfnk16v21h.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2028554_izfnk16v21h.woff') format('woff'),
        url('//at.alicdn.com/t/font_2028554_izfnk16v21h.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2028554_izfnk16v21h.svg#iconfont') format('svg');
}

.iconfont {
    font-family            : "iconfont" !important;
    font-size              : 16px;
    font-style             : normal;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bind:before {
    content: "\e645";
}

.icon-delete:before {
    content: "\e771";
}

.icon-suofang:before {
    content: "\e61f";
}

.icon-move:before {
    content: "\e674";
}

.icon-rect:before {
    content: "\eb97";
}

.icon-yuan:before {
    content: "\e80c";
}

.icon-yuanhuxian:before {
    content: "\e603";
}

.icon-zhixian:before {
    content: "\e636";
}

.icon-close:before {
    content: "\e610";
}